DATABASE_URL=postgresql://quantyx:quantyx@localhost:5432/quantyx
HOST=localhost
PORT=3001
LOG_LEVEL=info
BETTER_AUTH_SECRET=
API_TENANT_MANAGER_EXTERNAL_URL=http://localhost:3001
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@quantyx.io
WEB_APP_URL=http://localhost:4200
